/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
/*Standard Elements*/
body {
  background: #eee;
  background-position: initial initial;
  background-repeat: initial initial;
  margin: 0px;
  padding: 0px;
  background: #fff;
}
.simple_body {
  background: #eee;
  background: url(../images/furley_bg1.png) ;
  background-position: initial initial;
  background-repeat: initial initial;
  margin: 0px;
  padding: 0px;
}
a:hover {
  text-decoration: none;
}
h1 {
  margin-top: 0px;
  color: #eee;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.25em;
}
hr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}
/*Navbar*/
.navbar {
  position: relative;
  z-index: 20;
  margin: 0px;
  padding: 0px;
  -webkit-box-shadow: 0px 0px 3px #cccccc;
  -moz-box-shadow: 0px 0px 3px #cccccc;
  box-shadow: 0px 0px 3px #cccccc;
}
.navbar .brand {
  text-shadow: none;
  margin-top:15px;
}
.navbar .navbar-inner {
  padding: 0em 1em;
  margin: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #1d1d1d;
border-bottom: 2px solid #0A0C0E;
height:60px;
font-family: '微软雅黑';
}
.nvarbar_right_li{
  height:62px;
}
.navbar .nav {
  margin: 0em;
  margin-right: -1em;
}
.navbar .nav > li > a {
  color: #fff;
  text-shadow: none;
}
.navbar .nav > li:hover {
  background-color: #444;
}
.navbar .nav > li > a:hover {
  color: #fff;
}
.navbar .dropdown-menu a:hover {
  #background: none;
  #color: #000;
}
.navbar .nav li.dropdown.open > .dropdown-toggle {
  background-color: #444;
  color: #fff;
}
.content {
  min-width: 400px;
  position: relative;
  min-height: 598px;
  background: #fff;
  margin-left: 240px;
  border-left: 1px solid #c8c8cb;
}
.full-content {
  min-width: 400px;
  position: relative;
  min-height: 598px;
  background: #fff;
  margin: auto;
}
.header {
  background: #ffffff;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #e6e6e6, #ffffff);
  background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #e6e6e6, #ffffff);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#e6e6e6')";
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  padding: 0em 1.25em;
  height:60px;
}
.header h1 {
  margin: 1em 0em;
  padding: 0em;
  line-height: 1em;
  font-size: 1.5em;
  color: #eee;
  color: #333;
}
.breadcrumb {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #eee;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #fafafa;
  border-left: 1px solid #fff;
  margin-bottom: .5em;
}
.page-content {
  padding: 1em;
}
footer {
  padding: 1em;
  margin-top: 4em;
  color: #666;
  font-size: .85em;
  line-height: 1.3em;
}
footer hr {
  margin: 2em -2em;
}
/*Quick Toolbar*/
.btn-toolbar.quick-toolbar {
  float: right;
}
.btn-toolbar.quick-toolbar .btn {
  width: 60px;
  height: 60px;
  display: inline-block;
}
.stats p.stat {
  margin: 1em 0em 0em 1em;
}
.stats .stat {
  margin-left: 1em;
  line-height: 2.5em;
  float: right;
}
.stats .stat .number {
  font-weight: bold;
  margin-right: .5em;
  padding: .5em;
  border: 1px solid #ccc;
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e3e3e3), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #e3e3e3, #ffffff);
  background: -moz-linear-gradient(center bottom, #e3e3e3 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #e3e3e3, #ffffff);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#e3e3e3')";
  -webkit-box-shadow: 1px 1px 0px #ffffff;
  -moz-box-shadow: 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 0px #ffffff;
  text-shadow: 1px 1px 1px #fff;
}
/*Blocks*/
.block {
  border: 1px solid #ccc;
  background: white;
  margin: 1em 0em 2.5em 0em;
  border-radius: 5px;
}
.dialog .block {
  -webkit-box-shadow: 1px 1px 0px #ffffff;
  -moz-box-shadow: 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 0px #ffffff;
}
.block-heading {
  border-bottom: 1px solid #a6a6a6;
  border-left: none;
  color: #505050;
  display: block;
  margin-bottom: 0px;
  text-shadow: none;
  text-transform: none;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 3.3em;
  font-family: '微软雅黑';
}
.block-heading a{float: left;}
.head-box{
border-bottom: 1px solid #a6a6a6;
border-left: none;
margin-bottom: 0px;
text-shadow: none;
text-transform: none;
line-height: 3.3em;
font-family: '微软雅黑';
color: #505050;
background: #dddddd;
background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #fafafa));
background: -ms-linear-gradient(bottom, #dddddd, #fafafa);
background: -moz-linear-gradient(center bottom, #dddddd 0%, #fafafa 100%);
background: -o-linear-gradient(bottom, #dddddd, #fafafa);
display: block;
border-top: 1px solid #fff;
outline: none;
border-radius: 5px;
height: 52px;}
.head-box a{ color: #505050;float: left;font-weight: 700;border:0px;line-height:50px;}
.iContent{position: relative; float: left;width: 350px;}
.block-heading .block-icon {
  border-right: 1px solid #AAA;
  border-left: none;
}
.block-heading .block-icon a {
  padding: 0em;
}
.block-heading .block-icon [class*="icon-"] {
  padding: 0em 1em;
  line-height: 1em;
}
.block-heading .block-icon.pull-right {
  border-left: 1px solid #AAA;
  border-right: none;
}
.block-heading .label {
  float: right;
  margin-top: .5em;
  margin-right: .75em;
  line-height: 1.5em;
  -webkit-box-shadow: 1px 1px 0px #ffffff;
  -moz-box-shadow: 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 0px #ffffff;
}
p.block-heading,
a.block-heading,
.block-heading a {
  color: #505050;
  background: #dddddd;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #fafafa));
  background: -ms-linear-gradient(bottom, #dddddd, #fafafa);
  background: -moz-linear-gradient(center bottom, #dddddd 0%, #fafafa 100%);
  background: -o-linear-gradient(bottom, #dddddd, #fafafa);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa',EndColorStr='#dddddd')";
  display: block;
  padding-left: 1em;
  border-top: 1px solid #fff;
  outline: none;
  border-radius: 5px;
}
a.block-heading:hover,
.block-heading a:hover {
  background: #dddddd;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #fdfdfd));
  background: -ms-linear-gradient(bottom, #dddddd, #fdfdfd);
  background: -moz-linear-gradient(center bottom, #dddddd 0%, #fdfdfd 100%);
  background: -o-linear-gradient(bottom, #dddddd, #fdfdfd);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fdfdfd',EndColorStr='#dddddd')";
  color: #505050;
}
.block-body {
  margin: 1em;
  min-height: .25em;
}
.block-body h1,
.block-body h2,
.block-body h3,
.block-body h4,
.block-body h5,
.block-body h6,
.block-body table {
  margin-top: 12px;
}
.block-body.collapse {
  margin-top: 0em;
  margin-bottom: 0em;
}
/*Navigation*/
.sidebar-nav {
  width: 240px;
  float: left;
  border-top: none;
  border-left: none;
  margin: 0em;
  background: url(../images/furley_bg2.png) repeat-y;
}
.sidebar-nav .nav-header {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #c8c8cb;
  border-left: none;
  color: #333;
  display: block;
  background: #efeff0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efeff0), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #efeff0, #ffffff);
  background: -moz-linear-gradient(center bottom, #efeff0 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #efeff0, #ffffff);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#efeff0')";
  font-weight: normal;
 font-size: 1.2em;
  line-height: 3.5em;
  padding: 0em .25em;
  margin-bottom: 0px;
  text-shadow: none;
  text-transform: none;
  font-family: '微软雅黑';
  /*Change the arrow direction if the item is collapsed*/

}
.sidebar-nav .nav-header .label {
  float: right;
  margin-top: .5em;
  margin-right: .25em;
  line-height: 1.5em;
}
.sidebar-nav .nav-header:hover {
  background: #efeff0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efeff0), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #efeff0, #ffffff);
  background: -moz-linear-gradient(center bottom, #efeff0 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #efeff0, #ffffff);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#efeff0')";
}
.sidebar-nav .nav-header.collapsed .icon-chevron-up::before {
  content: "\f078";
}
.sidebar-nav .nav-header .icon-chevron-up {
  float: right;
}
.sidebar-nav .nav-header .label {
  float: right;
  margin-top: .7em;
  line-height: 1.5em;
}
.sidebar-nav .nav-header i[class^="icon-"] {
  margin-right: .75em;
}
.sidebar-nav .nav-list {
  margin: 0px;
  border: 0px;
  background: #f6f6f6;
  width: 100%;
}
.sidebar-nav .nav-list li{border-bottom: 1px dashed #ddd;}
.sidebar-nav .nav-list  > li > a:hover {
  background: #309ed6;
  color: #fff;
  text-shadow: 0 1px 0 rgba(68, 68, 68, 0.5);
}
.sidebar-nav .nav-list  > .active > a,
.sidebar-nav .nav-list  > .active > a:hover {
  background: #309ed6;
  color: #fff;
  text-shadow: 0 1px 0 rgba(68, 68, 68, 0.5);
}
.sidebar-nav .nav-list  > .active > a:hover {
  background: #0088cc;
  color: #fff;
}
.sidebar-nav .nav-list  > li > a {
  color: #444;
  padding: .5em 1em;
}
.sidebar-nav .nav-list.collapse.in {

}
/*Buttons*/
.btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.btn-primary {
  background-color: #108A58;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3BA08B), to(#108A58));
  background-image: -webkit-linear-gradient(top, #3BA08B, #108A58);
  background-image: -o-linear-gradient(top, #3BA08B, #108A58);
  background-image: linear-gradient(to bottom, #3BA08B, #108A58);
  background-image: -moz-linear-gradient(top, #3BA08B, #108A58);
  /*filter: progid:dximagetransform.microsoft.gradient(startColorStr='#3BA08B', EndColorStr='#6BA08B');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3BA08B',EndColorStr='#108A58')";*/
  border: 1px solid #108A58;
}
.btn-primary:hover {
  background-color: #108A58;
  *background-color: #414959;
}
.btn-danger {
  background-color: #553333;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#955959), to(#553333));
  background-image: -webkit-linear-gradient(top, #955959, #553333);
  background-image: -o-linear-gradient(top, #955959, #553333);
  background-image: linear-gradient(to bottom, #955959, #553333);
  background-image: -moz-linear-gradient(top, #955959, #553333);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#7BA08B', EndColorStr='#6BA08B');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#955959',EndColorStr='#553333')";
  border: 1px solid #452929;
}
.btn-danger:hover {
  background-color: #553333;
  *background-color: #553333;
}
.btn-success {
  background-color: #556665;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#869b99), to(#556665));
  background-image: -webkit-linear-gradient(top, #869b99, #556665);
  background-image: -o-linear-gradient(top, #869b99, #556665);
  background-image: linear-gradient(to bottom, #869b99, #556665);
  background-image: -moz-linear-gradient(top, #869b99, #556665);
  /*filter: progid:dximagetransform.microsoft.gradient(startColorStr='#6c7994', EndColorStr='#414959');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#869b99',EndColorStr='#556665')";*/
  border: 1px solid #495857;
}
.btn-success:hover {
  background-color: #556665;
  *background-color: #556665;
}
.btn-warning {
  background-color: #aaaa55;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cccc99), to(#aaaa55));
  background-image: -webkit-linear-gradient(top, #cccc99, #aaaa55);
  background-image: -o-linear-gradient(top, #cccc99, #aaaa55);
  background-image: linear-gradient(to bottom, #cccc99, #aaaa55);
  background-image: -moz-linear-gradient(top, #cccc99, #aaaa55);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#6c7994', EndColorStr='#414959');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccc99',EndColorStr='#aaaa55')";
  border: 1px solid #99994d;
}
.btn-warning:hover {
  background-color: #aaaa55;
  *background-color: #aaaa55;
}
.well {
  margin-top:1em;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 0px #ffffff;
  -moz-box-shadow: 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 0px #ffffff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/*Faq*/
.faq-content ul,
.faq-content ol {
  padding-left: 1em;
}
.faq-content ul .top,
.faq-content ol .top {
  float: right;
  line-height: 1.25em;
  padding: .75em 0em;
}
/*Gallery*/
.gallery {
  text-align: center;
}
.gallery  > img {
  margin: .5em .5em .5em .5em;
}
.img-polaroid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd;
}
.dialog,
.row .dialog,
.row-fluid .dialog,
.row-fluid [class*="span"].dialog:first-child {
  margin: 0px auto;
  margin-top: 5em;
  float: none;
  width: 400px;
}
.dialog input[type="checkbox"],
.row .dialog input[type="checkbox"],
.row-fluid .dialog input[type="checkbox"],
.row-fluid [class*="span"].dialog:first-child input[type="checkbox"] {
  margin: 0px;
}
.dialog .alert,
.row .dialog .alert,
.row-fluid .dialog .alert,
.row-fluid [class*="span"].dialog:first-child .alert {
  margin-bottom: 1em;
}
.dialog form,
.row .dialog form,
.row-fluid .dialog form,
.row-fluid [class*="span"].dialog:first-child form {
  margin-bottom: 0px;
}
.dialog .remember-me,
.row .dialog .remember-me,
.row-fluid .dialog .remember-me,
.row-fluid [class*="span"].dialog:first-child .remember-me {
  padding: .5em 0em 0em 0em;
}
input[type="text"],
input[type="password"] {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/*Alerts*/
.alert {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: .5em 1em;
  margin-top: 1em;
  border: 1px solid #f2e187;
  background: #f7ecb5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f7ecb5), color-stop(1, #fcf8e3));
  background: -ms-linear-gradient(bottom, #f7ecb5, #fcf8e3);
  background: -moz-linear-gradient(center bottom, #f7ecb5 0%, #fcf8e3 100%);
  background: -o-linear-gradient(bottom, #f7ecb5, #fcf8e3);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcf8e3',EndColorStr='#f7ecb5')";
}
.alert .close {
  right: -0.25em;
}
.alert.alert-error {
  border: 1px solid #712d2d;
  background: #963b3b;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #963b3b), color-stop(1, #b84c4c));
  background: -ms-linear-gradient(bottom, #963b3b, #b84c4c);
  background: -moz-linear-gradient(center bottom, #963b3b 0%, #b84c4c 100%);
  background: -o-linear-gradient(bottom, #963b3b, #b84c4c);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#b84c4c',EndColorStr='#963b3b')";
  color: white;
  text-shadow: none;
}
.alert.alert-info {
  border: 1px solid #85c5e5;
  background: #afd9ee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #afd9ee), color-stop(1, #d9edf7));
  background: -ms-linear-gradient(bottom, #afd9ee, #d9edf7);
  background: -moz-linear-gradient(center bottom, #afd9ee 0%, #d9edf7 100%);
  background: -o-linear-gradient(bottom, #afd9ee, #d9edf7);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d9edf7',EndColorStr='#afd9ee')";
}
.alert.alert-success {
  border: 1px solid #a3d48e;
  background: #c1e2b3;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c1e2b3), color-stop(1, #dff0d8));
  background: -ms-linear-gradient(bottom, #c1e2b3, #dff0d8);
  background: -moz-linear-gradient(center bottom, #c1e2b3 0%, #dff0d8 100%);
  background: -o-linear-gradient(bottom, #c1e2b3, #dff0d8);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dff0d8',EndColorStr='#c1e2b3')";
}
/*Error Pages*/
.http-error {
  margin-top: 5em;
  text-align: center;
  color: #444;
}
.http-error h1 {
  font-size: 5em;
  line-height: 1em;
  text-shadow: 1px 1px 0px #fff;
  color: #444;
}
.http-error p {
  margin: 0px;
}
.http-error .info {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
.http-error i {
  font-size: 3em;
  line-height: .75em;
  text-shadow: 1px 1px 0px #fff;
}
/*Tabs*/
.nav-tabs  > li {
  margin-left: .5em;
}
.nav-tabs  > li  > a {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/*Model*/
.modal {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.modal.small {
  width: 400px;
  margin: -170px 0 0 -200px;
}
.modal .modal-icon {
  vertical-align: middle;
  font-size: 4em;
  float: left;
  margin-right: .25em;
}
.modal:focus {
  outline: none;
}
.modal .modal-header h3 {
  font-size: .95em;
}
.modal .modal-footer {
  padding: .5em;
}
.modal .modal-body {
  padding: 2em;
}
.modal p {
  margin: 0em;
  line-height: 1.5em;
}
/*Search*/
.search-well form {
  margin: 1em 0em 1.5em 0em;
}
.search-well label {
  margin-bottom: 0px;
  vertical-align: middle;
}
/*Table of Contents*/
.toc {
  margin-bottom: 2em;
}
.toc h3 {
  font-size: 1em;
  margin-top: 0em;
  padding-top: 0em;
  line-height: 1.4em;
}
.toc h4 {
  color: #555;
  font-size: 1em;
  margin-top: 0em;
  padding-top: 0em;
  line-height: 1.4em;
  margin-bottom: 0em;
  padding-bottom: 0em;
}
/*Dashboard Stats*/
.stat-widget-container {
  text-align: center;
}
.stat-widget-container .stat-widget {
  width: 25%;
  float: left;
}
.stat-widget-container .stat-widget .stat-button {
  margin-top: 1em;
  margin: 2em 1em;
  position: relative;
}
.stat-widget-container .stat-widget .stat-button .title {
  font-size: 2em;
  font-weight: bold;
  color: #999;
}
.stat-widget-container .stat-widget .stat-button .detail {
  font-size: 1.5em;
  color: #555;
}

table.table.list tr:first-child td {
  border-top: 0px;
}
table.table, table.normal {
	 border:1px solid #f0f0f0;
}

table.table thead, table.normal thead {
 background:#e9e9e9;
 color:#a4a4a4;
}

table.table thead tr, table.normal thead tr {
 color:#505050;
}

table.table tr, table.normal tr {
 color:#333;
 #cursor:pointer;
}

table.table td {
	word-break:break-all; 
	word-wrap:break-word;
}

table.table tr.odd, table.normal tr.odd {
 background:#f9f9f9;
 color:#888;
}

table.table tr:hover, table.normal tr:hover {
 color:#333;
}

table.table thead tr:hover, table.normal thead tr:hover {
 color:#505050;
}

/* Tweaks for mobile */
@media (max-width: 641px) {
  .content {
    margin: 0em;
  }
  .sidebar-nav {
    float: none;
    width: auto;
    position: relative;
  }
  h1 {
    text-align: center;
  }
  .stats {
    text-align: center;
    margin-top: 1em;
  }
  .stats .stat {
    float: none;
    display: inline;
  }
  .stat-widget-container .stat-widget {
    font-size: .5em;
  }
}
@media (max-width: 900px) {
  body.http-error {
    font-size: .75em;
  }
  body.http-error .error-message {
    padding: 0em 1em;
  }
}
@media (max-width: 851px) {
  .stat-widget-container .stat-widget {
    font-size: .75em;
  }
}
@media (max-width: 767px) {
  footer hr {
    margin-left: 0em;
    margin-right: 0em;
  }
}
@media (max-width: 604px) {
  body.http-error {
    font-size: .5em;
  }
}

.box-header{height: 50px; line-height: 50px; /*background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #fafafa)); */ /*border: 1px solid #ddd;*/ border-radius: 5px; margin-top: 10px;font-family: '微软雅黑'; position: relative; z-index: 999;}
.ico_doubt{ width:13px; height: 14px; background: url(../images/doubt.png) no-repeat 0 0; margin: 0 0 0 5px;opacity: .4; cursor: pointer;display: inline-block;margin: 19px 0 0 5px; float: left;}
.promptTxt{max-width: 400px;background: #fcf8e3; border: 1px solid #efce8c; padding: 10px 20px; color: #646464; position: absolute; left: 30px; top: -2px; line-height: 20px;z-index: 99; text-align: justify;font-size: 12px;}
.promptTxt b{ color: #0088cc;}
.box-header .h_title{ float: left;font-size: 1.1em;color: #505050;line-height:30px; margin-left:10px;}
.box-header .header-right{width: 355px; float: right;margin-right: 10px;}
.box-header .btn-group{float: left;}
.btn-success {background-color: #5bb75b;color: #ffffff;background-image: -moz-linear-gradient(top, #78cd51, #5AAD34);background-image: -ms-linear-gradient(top, #78cd51, #5AAD34);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#78cd51), to(#5AAD34));background-image: -webkit-linear-gradient(top, #78cd51, #5AAD34);background-image: -o-linear-gradient(top, #78cd51, #5AAD34);background-image: linear-gradient(top, #78cd51, #5AAD34);background-repeat: repeat-x;border-color: #5AAD34 #5AAD34 #387038;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.btn-group > .btn {position: relative;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {font-size: 14px;}
.btn.btn-filter {width: 100px;}
.btn-group > .btn:first-child {margin-left: 0;-webkit-border-bottom-left-radius: 4px;border-bottom-left-radius: 4px;-webkit-border-top-left-radius: 4px;border-top-left-radius: 4px;-moz-border-radius-bottomleft: 4px;-moz-border-radius-topleft: 4px;}
.btn-group > .btn + .dropdown-toggle {padding-right: 8px;padding-left: 8px;-webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); margin: 0;}
.btn-group > .btn + .btn {margin-left: -1px;}

/*自定义事件下拉，实际上是个dropdown*/
.async-dropdown { width: 232px; }
.async-dropdown .btn { width: 100%; border-radius: 3px; }
.async-dropdown .btn>.text { float: left; margin: 0 25px 0 12px; }
.async-dropdown .btn>.caret { float: right; margin-right: 12px; }
.async-dropdown .dropdown-menu { width: 100%; }
/*添加时间筛选，版本，渠道筛选*/
.btn.btn-filter { width: 100px; }
.cancel-filter-btn { display: block; height: 27px; line-height: 27px; /*lt IE9*/border: 1px solid #ddd; border: 1px solid rgba(0,0,0,0.2); background: #ebebeb; color: #000; border-radius: 1px; }
.cancel-filter-btn>span { display: block; height: 25px; line-height: 25px; padding:0 4px; border: 1px solid #fff; }
.cancel-filter-btn:hover { text-decoration: none; }
.filter-dropdown-menu { position: absolute; top: 100%; left: 0; width: 400px; background: #ececec; margin: 4px 0 0 0; padding: 0; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0; margin: 5px 0 0; list-style: none; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }
.filter-dropdown-menu.pull-right { right: 0; left: auto; }
.filter-dropdown-menu>.filter-item:after { content: ''; display: block; height: 1px; background: #fff; overflow: hidden; }
.filter-dropdown-menu .hd { position: relative; height: 51px; border-bottom: 1px solid rgba(0,0,0,0.2); }
.filter-dropdown-menu .hd h3 { margin: 0; line-height: 51px; padding-left: 23px; font-size: 16px; }
.filter-dropdown-menu .hd .cancel-filter-btn { position: absolute; right: 10px; top: 12px; font-size: 12px; }
.filter-dropdown-menu .bd { padding : 3px 7px; /*lt IE9*/border-bottom: 1px solid #ccc;  border-bottom: 1px solid rgba(0,0,0,0.2); }
.filter-dropdown-menu .bd ul, .dropdown-menu.filter-dropdown-menu .bd ul li { margin: 0; padding: 0; list-style: none; }
.filter-dropdown-menu .bd:after { display: block; content: '.'; height: 0; clear: both; visibility: hidden; border: 1px solid red; }
.filter-dropdown-menu .bd ul { height: auto; min-height: 42px; max-height: 112px; padding: 0 0 5px; background: #f9f9f9; font-size: 12px; overflow-y: auto; }
.filter-dropdown-menu .bd ul li { float: left; margin: 5px 0 0; padding: 0 7px; line-height: 25px; white-space: nowrap; word-wrap: break-word; word-break: break-all; }
.filter-dropdown-menu .bd ul li a { display: block; height: 28px; line-height: 28px; margin: 0; padding: 0 15px 0 8px; border: 1px solid transparent; display: block; }
.filter-dropdown-menu .bd ul li a:hover, .filter-dropdown-menu .bd ul li.active a { border: 1px solid #6fbd1b; color: #000; text-decoration: none; }
.filter-dropdown-menu .bd ul li.active a { background: #f9f9f9 url(../images/selected_icon.png) right top no-repeat; }
.filter-dropdown-menu>.filter-footer { position: relative; height: 58px; }
.filter-dropdown-menu>.filter-footer>.btn-oprator { position: absolute; right: 10px; top: 20px; }
.filter-dropdown-menu>.filter-footer>.btn-oprator .btn { margin-right: 10px; }
/*日历*/
.calender { display: none; position: absolute; top:41px; right:10px; width:300px; padding: 20px; height: 120px; background: #fff; z-index: 2; background-color: #ececec; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
.calender>.date-item { margin: 0; padding: 0; list-style: none; }
.calender>.date-item>li { float: left; margin-bottom: 10px; }
.calender>.date-item>li input.datepicker { background: #fff; cursor: pointer; }
.calender>.date-item>li strong { position: relative; bottom: 3px; }
.calender .footer { float: right; margin-right: 6px; line-height: 0px; }
.calender .footer .btn { margin-right: 10px; }
.datetime-container {float: right;position: relative;}
.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {float:none; display: inline-block; margin-bottom: 10px;margin-left:0;}

.btn-group > .btn:first-child { margin-left: 0; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -moz-border-radius-topleft: 4px;margin: 0;}
.btn-group > .btn:last-child, .btn-group > .dropdown-toggle { -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; -moz-border-radius-topright: 4px; -moz-border-radius-bottomright: 4px; }
.btn-group > .btn.large:first-child { margin-left: 0; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-bottomleft: 6px; -moz-border-radius-topleft: 6px; }
.btn-group > .btn.large:last-child, .btn-group > .large.dropdown-toggle { -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; -moz-border-radius-topright: 6px; -moz-border-radius-bottomright: 6px; }

.btn .caret { margin-top: 8px; margin-left: 0; }
.btn-mini .caret, .btn-small .caret, .btn-large .caret { margin-top: 6px; }
.btn-large .caret { border-top-width: 5px; border-right-width: 5px; border-left-width: 5px; }
.dropup .btn-large .caret { border-bottom-width: 5px; }
.btn-primary .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret, .btn-success .caret, .btn-inverse .caret { border-top-color: #ffffff; border-bottom-color: #ffffff; }
.btn-group-vertical { display: inline-block; *display: inline;/* IE7 inline-block hack */*zoom: 1;}
.bootstrap-select.btn-group .btn .filter-option { padding-right: 20px;outline: none;}
.bootstrap-select .btn {
width: 100%;
}
.bootstrap-select.btn-group .btn .caret {position: absolute;right: 12px;}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {background-color: #2FABE9;}
.btn-group{margin-right: 10px;}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {background-color: #5AAD34;}
.dropdown-menu li{ padding: 0;}
.btn-oprator{ line-height: 30px;}
.btn-primary{background-color: #2FABE9;background-image: -webkit-linear-gradient(top, #67c2ef, #2FABE9);background-image: -o-linear-gradient(top, #67c2ef, #2FABE9);background-image: linear-gradient(top, #67c2ef, #2FABE9);background-repeat: repeat-x;border-color: #1598d9 #1598d9 #007bb8 #1598d9;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);border-radius: 3px;
  background-image: -o-linear-gradient(top, #67c2ef, #2FABE9);
  background-image: linear-gradient(to bottom, #67c2ef, #2FABE9);
  background-image: -moz-linear-gradient(top, #67c2ef, #2FABE9);}
.btn-oprator #filter-cancel-btn,#bootstrap-datepicker-cancel{border-radius: 3px;}
.date-item li{ padding: 0;}
.dropdown-menu li{line-height: 40px;}
.dropdown-menu li a{ line-height: 40px;}
.dropdown-menu li i{display: inline-block;margin-top: 12px;float: left;}
/* ico */
.icon-star-empty{width: 20px; height: 20px; background: url(../images/ico_ppIos.png) no-repeat 0 0; display: block;}
.icon-cog{width: 20px; height: 20px; background: url(../images/ico_ppGenuine.png) no-repeat 0 0; display: block;}
.icon-camera{width: 20px; height: 20px; background: url(../images/ico_ppMac.png) no-repeat 0 0; display: block;}
.icon-inbox{width: 20px; height: 20px; background: url(../images/ico_ppJailbreak.png) no-repeat 0 0; display: block;}
.icon-play-circle{width: 20px; height: 20px; background: url(../images/ico_ppBrowser.png) no-repeat 0 0; display: block;}
.icon-heart{width: 20px; height: 20px; background: url(../images/ico_ppAndroid.png) no-repeat 0 0; display: block;}
.btn-success{margin: 0;}
.btn-group .dateList li a{height: 30px; line-height: 30px;}
.btn-group .dateList li a:hover{ height: 30px;}
.btn-group .dateList li i{margin-top: 0;}
#footer{ width: 100%; height: 70px; background: #1d1d1d; color: #b9b9b9; text-align: center; line-height: 25px; font-size: 14px; font-family: '微软雅黑'; padding-top: 20px;}
